.checkout_box {
  border: 1px solid #e0e0e0;
  padding: 16px;
  border-radius: 8px;
  background-color: #c2bfbf;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
}
.checkout_image {
  width: 150px;
  height: 100x;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}
.checkout_btn {
  background-color: #57db57;
  color: rgb(44, 43, 43);
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.checkout_quantity {
  font-size: 18px;
  margin-bottom: 16px;
}
.checkout_header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} 

.checkout_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} 

.summary_container {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid rgb(243, 207, 159);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
button {
  margin-bottom: 20px;
}
body.active-modal {
    overflow-y: hidden;
}