.foodMenu_box {
  background-color: #f8f8f8;
  padding: 30px;
  width: 85%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid burlywood;
}
.foodMenu_container {
  border: 1px solid brown;
  display: grid;
  width: 100%;
grid-template-columns: repeat(3, 1fr);
gap: 15px;
border-radius: 10px;
overflow: hidden;
border-radius: 15px !important;
 
}
.price {
  font-size: 20px;
  color: rgb(40, 197, 176);
  margin-bottom: 10px;
}

.image1 {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.add {
    border: 1px solid green;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.remove {
    border: 1px solid red;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.add:hover{
    background-color: rgb(154, 235, 154);
}
.remove:hover {
    background-color: rgb(255, 153, 153);
}
.button_container {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

button:disabled {
opacity: 0.6;
cursor: not-allowed;
background-color:  rgb(255, 155, 155);
color: white;
border: 1px solid red;
}