.title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid burlywood;
    text-align: center;
    width: 100%;
}
.text1 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
    text-align: center;
}
.text2 {
    font-size: 1.2rem;
    color: #666;
    margin: 10px 0;
    text-align: center;
}